// compile
@import '_template';

$primary: $amethyst;

.main {
  background: $clouds;
  display: grid;
  grid-template-columns: 20rem 1fr;
}

.sidebar {
  box-shadow: $shadow-4;
  background: $primary;
  padding: 1rem;
  z-index: 3;
  display: flex;
  max-height: 100%;
  overflow: auto;
  @include custom-scroll;

  .menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .menu-grow a {
      font-size: 0.75em;
    }

    .icon-hidden {
      max-height: 0;
      overflow: hidden;
    }

    .collapse-me {
      display: none;
      margin-left: 2rem;
    }

    .menu-header {
      display: flex;
      align-items: center;

      .icon {
        color: $white;
        @include animate;
        cursor: pointer;
        opacity: 0.75;
      }

      .name {
        letter-spacing: 0.1em;
        text-transform: uppercase;
        flex-grow: 1;
      }

      &.is-expanded {
        .icon {
          transform: rotate(90deg);
        }
      }
    }

    .menu-label {
      .icon {
        cursor: pointer;

        .is-open {
          transform: rotate(90deg);
        }
      }

      .name {
        @include sidebar-hover;
      }
    }

    .menu-list {
      a {
        &:hover {
          background: transparentize($white, 0.75);
          color: $white;
        }

        &.is-active {
          background: transparentize($white, 0.50);
          color: $black;
        }
      }
    }
  }

  .menu-grow {
    flex-grow: 1;
  }

  .bottom-options li a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.content-card {
  background: $white;
  overflow: auto;
  max-height: 100%;
  @include custom-scroll($wide: true);

  .content {
    background: $clouds;
    padding: 2rem;
    min-height: 100%;

    h1 {
      @include sticky;
      background: $white;
      padding: 2rem 1rem;
    }
  }
}

img {
  max-height: 25rem;
}

hr {
    background: $primary;
}
//
